html {
  scroll-behavior: smooth;
}
  
body {
  background-color: white;
  margin: 0%;
  padding: 0%;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

nav{
  background-color: black;
  color: white;
  padding: 10px 20px;
  justify-content: space-between;
}

nav ul{
  gap: 20px;
}

nav a{
  color: white;
}

nav form {
  gap: 10px;
}


.Table{
  margin-bottom: 40px;
}

.Table .Heading{
  font-size: 25px;
  font-weight: bold;
  color:black;

}

.Table a{
  color: aqua;
}

.Table ul{
  padding-left: 0;
}

.Table .Header{
  font-size: 15px;
  font-weight: bold;
  color: #003049;
  text-transform: uppercase;
}



.Table .Sub-header{
  font-size: 15px;
  padding-left: 4px;
}

.Table ul li {
  margin: 16px 0;
}

.Table .Container{
  padding-left: 15px;
  border-left: 1px solid rgb(93, 150, 150)
}