:root {
    --bg-color: rgb(240,240,240) 
  }
  
body {
  background-color: white;
  margin: 0%;
  padding: 0%;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

nav{
  background-color: black;
  color: white;
  padding: 10px 20px;
  justify-content: space-between;
}

nav ul{
  gap: 20px;
}

nav a{
  color: white;
}

nav form {
  gap: 10px;
}

.table {
  background-color: white;
  padding: 15px;
  margin: 20px;
  border-radius: 7px;
}

.Table {
  background-color: white;
  box-shadow: 0 3px 30px black;
  max-width: 600px;
  margin: auto;
  border-radius: 50px;
}

.header{
  background-color: black;
  padding: 30px;
  border-radius: 50px 50px 0 100px;
  min-height: 100px;
}

.heading{
  font-size: 25px;
  color: white;
  margin: 0;
  text-align: center;
  width: 100%;
}

.table-list{
  background-color: darkblue;
  border-radius: 50px 0 52px 52px;
}

.list{
  border-radius: 0 100px;
  background-color: white;
  margin: 0;
  
}