:root {
    --base-font-color: rgb(0, 0, 0);
    --secondary-font-color: rgb(88, 110, 117);
    --emphasized-font: rgb(147, 161, 161);
  
    --c-background-color: rgb(124, 15, 15);
    --c-background-highlights: rgb(7, 54, 66);
  
    --c-yellow: rgb(181, 137, 0);
    --c-orange: rgb(203, 75, 22);
    --c-red: rgb(220, 50, 47);
    --c-magenta: rgb(211, 54, 130);
    --c-violet: rgb(108, 113, 196);
    --c-blue: rgb(38, 139, 210);
    --c-cyan: rgb(42, 161, 152);
    --c-green: rgb(133, 153, 0);
  }
  
  body {
    background-color: var(--c-background-color);
    color: var(--base-font-color);
    max-width: auto;
  }

  img{
    display:block;
    max-width: auto;
  }
  header, footer {
    background-color: var(--c-background-highlights);
  }
  
  main, footer, header {
    color: var(--base-font-color);
  }
  

  h1 {
    text-align: center;
    font-size: 150%;
    color: var(--c-yellow);
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  aside {
    color: var(--c-green);
  }
  
  aside a {
    color: var(--c-red);
  }
  
  aside a:hover {
    color: var(--c-blue);
  }
  

  
  footer {
    text-align: center;
  }