@import "styles.css";  @import url("styles.css");

<link rel="stylesheet" type="text/css" href="style.css" media="screen" title="Basic" />
@media screen {  
   body {  
     color: black;  
     ;background-color: yellow;  
   }  
 }
 
 @media print {  
   body {  
     color: black;  
     background-color: white;  
   }
 }
 media="screen, print,tty"  

 @media screen, print, projector {  
   body {  
     color: black;  
     background-color: yellow;  
   }  
 }
 @media print {  
   div#navigation {  
     display: none;  
   }  
 } 
