
<link rel="stylesheet" type="text/css" href="style.css" media="screen" title="Basic" />
   h1, h2, p {
      padding: 0;
      margin: 0;
      font: 1em/1.33 Verdana, sans-serif;
   }

   h1, h2 {
      color: red;
   }
   /* Add font size for headings*/
   h1 {font-size: 1.33em;}
   h2 {font-size: 1.17em;}
   


